#fundraiser-list {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 10px;
    row-gap: 10px;
    background-image: url("./src/assets/img/kente.wepb");
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-size: cover; /* Resizes the image to cover the entire container */
    background-attachment: fixed; /* Keeps the image fixed in the viewport during scroll */
    background-position: center; /* Centers the image */
}
