#fundraiser-list {
    display: grid;
    grid-template-columns: 32.5% 32.5% 32.5%;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: left;
    background-color:white;
    
}


